<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <span class="nav-link">Zip Code: {{ zipCode }}</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Sport: {{ sportName }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToPopup('clubs', zipCode, sportName)">
              <i class="fas fa-edit"></i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container  mat-app-background">
    
    <h3 class="panel-heading">Clubs Lists</h3>
    
    <div class="panel panel-default">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  
          <ng-container matColumnDef="clubName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Club Name</th>
            <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="zipCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip Code</th>
            <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
          </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
    
        </table>
    </div>
    <button mat-button (click)="clickEvent()" color="primary">Back</button>  
    
    </div> 