.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}

.container {
  margin-top: 2rem;
}

.panel-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.panel-default {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  vertical-align: middle; 
}


button {
  margin-top: 1rem;
}


.join-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: darkgreen;
}
.panel-container {
  margin-bottom: 20px; 
}
