<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <span class="nav-link">Zip Code: {{ zipCode }}</span>
        </li>
        <li class="nav-item">
          <span class="nav-link">Sport: {{ sportName }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToPopup('playerRequest', zipCode, sportName)">
            Edit
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToRequestForm('addRequest')">
            Add Request
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mat-app-background">
  <h3 class="panel-heading">Player Requests</h3>

  <div class="panel panel-default panel-container">
    <h4>Other Player Requests</h4>
    <div class="table-container">
      <table mat-table [dataSource]="otherRequestsDataSource" matSort class="mat-elevation-z8">
        <!-- Columns definitions -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
          <td mat-cell *matCellDef="let request"> {{ request.userName }} </td>
        </ng-container>
        <ng-container matColumnDef="playerNeeded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Players Needed</th>
          <td mat-cell *matCellDef="let request"> {{ request.playerNeeded }} </td>
        </ng-container>
        <ng-container matColumnDef="joined">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Players Joined</th>
          <td mat-cell *matCellDef="let request"> {{ request.joined }} </td>
        </ng-container>
        <ng-container matColumnDef="preferredCourt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferred Court</th>
          <td mat-cell *matCellDef="let request"> {{ request.preferredCourt }} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let request"> {{ request.date }} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let request"> {{ request.time }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let request" class="mat-column-action">
            <button class="join-button" *ngIf="!request.joined" (click)="joinRequest(request)">Join</button>
            <button class="chat-button" *ngIf="request.joined" (click)="startChat(request)">Chat</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="otherDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let request; columns: otherDisplayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default panel-container">
    <h4>My Requests</h4>
    <div class="table-container">
      <table mat-table [dataSource]="ownRequestsDataSource" matSort class="mat-elevation-z8">
        <!-- Columns definitions -->
        <ng-container matColumnDef="playerNeeded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Players Needed</th>
          <td mat-cell *matCellDef="let request"> {{ request.playerNeeded }} </td>
        </ng-container>
        <ng-container matColumnDef="joined">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Players Joined</th>
          <td mat-cell *matCellDef="let request"> {{ request.joined }} </td>
        </ng-container>
        <ng-container matColumnDef="preferredCourt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferred Court</th>
          <td mat-cell *matCellDef="let request"> {{ request.preferredCourt }} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let request"> {{ request.date }} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let request"> {{ request.time }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let request" class="mat-column-action">
            <button class="chat-button" (click)="startChat(request)">Chat</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="myDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let request; columns: myDisplayedColumns;"></tr>
      </table>
    </div>
  </div>

  <button mat-button (click)="clickEvent()" color="primary">Back</button>
</div>
