<div class="popup-container">
    <h2>Enter Details</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="fromRoute !== 'hub'">
        <input type="text" id="zipCode" placeholder="Zip Code" [(ngModel)]="zipCode" name="zipCode" required>
      </div>
      <div>
        <input type="text" id="sportName" placeholder="Sport Name" [(ngModel)]="sportName" name="sportName" required>
      </div>
      <div>
      <button class="btn btn-lg bt-body" type="submit">Submit</button>
      <button  (click)="goBack()" class="btn btn-lg bt-body" style="color: orange;" role="button">Cancel</button>
    </div>
    </form>
  </div>