<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <span class="nav-link">Sport: {{ sportName }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToPopup('hub', sportName)">
              <i class="fas fa-edit"></i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mat-app-background">
      <h3 class="panel-heading">Sport Information</h3>
      
      <div *ngIf="dataSource.data.length > 0; else noData" class="panel panel-default">      
        <div>
          <h4>History:</h4>
          <ul>
              <li>{{ dataSource.data[0].history }}</li>
          </ul>
        </div>
        
        <div>
          <h4>Rules:</h4>
          <ul>
            <li *ngFor="let rule of dataSource.data[0].rules">
              {{rule.description}}
          </ul>
        </div>
        
        <div>
          <h4>Gear Info:</h4>
          <ul>
            <li *ngFor="let gear of dataSource.data[0].gearInfo">
              {{ gear.gearName }}: {{ gear.gearDescription }}
            </li>
          </ul>
        </div>
      </div>
    
      <ng-template #noData>
        <p>No information available for the selected sport.</p>
      </ng-template>
    
      <button mat-button (click)="clickEvent()" color="primary">Back</button>  
    </div>
    